.red {
    color: red;
}

.green {
    
}












/****** DO NOT CHANGE THE STYLES BELOW THIS ******/

body {
  font-family: Helvetica, Arial, sans-serif;
}

h1 {
    text-align: center;
}

ul {
    list-style-type: none;
    margin: 0;
}

li {
    margin: 0;
    display: inline-block;
    font-size: 3em;
    padding: 0.25em;
}